* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Work Sans",  sans-serif;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#004996;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#004996;
    
  }
  
  li a:hover {
    color:white;
    
  }
  

  .logo
{
    width:28.6px;
    height:40px;
    display:inline;

}
.champion
{
    width:28px;
    height:37.33px;
    display:inline;
}
.font1
{
    color:#004996;
    display:inline;
    
}
.respo
{
  display: none;
  padding:0px 10px;
}
.indx
{
  width:15vw;
  display:inline;
}
.indx1
{
  display: none;
}
.vid { width: 100%;}
@media (max-width:639px)
{
  .respo
  {
    display: block;

  }

  .indx
{
  width:9vw;
  display:inline;
}
.respo h2
{
  position: absolute;
  left:22vw;
}

}
@media (min-width:640px) and (max-width: 760px) {
  
  .respo
  {
    display: block;

  }
  .respo h2
  {
    
  }
  .indx
{
  width:9vw;
  display:inline;
}
.indx1
{
  width:9vw;
  display:inline;
}
.respo h2
  {
    display: none;
  }

}
