*
{
    box-sizing: border-box;
}
.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0 0 10px;
    background-color: #fff;
    height:100px;
    opacity: .85;
    
}
.FootballHonoors
{
    background: rgba(153, 153, 153, 0.5);
    color:black;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size:2vw;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#004996;
    display: inline;
    float:right;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#616161;
    
  }
  
  li a:hover {
    color:#004996;
    
  }

.honour
{
    display: flex;
    border-top: 3px solid   ;
    border-color:#ae994e;
    width: 80%;
    height:20vw;
    margin:auto;
    background-color: #e7e7e7;
    position: relative;
    
}
.number
{
    color:#ae994e;
    position: absolute;
    left:20vw;
    font-size:3vw;
}
.text
{
    position: absolute;
    left:24vw;
    top:.7vw;
    font-size:1.5vw;
    
    
}
.vid
{
    position: absolute;
    right:0px;
    top:0px;
    width:30vw;
    height:18.3333vw;

}
.smallnum
{
    position: absolute;
    left:24vw;
    top:4.5vw;
    color: rgb(24, 24, 24);
    font-size:1.25vw;
    font-weight: bold;
}
@media (screen) {
    
}
