*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0px;
    border:0px;
    margin:0px;
}
body
{

    display: grid;
    position: relative;
    grid-template-rows: 12vw 165vw 5vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "logo logo logo nav nav nav nav nav nav nav"
      " side side side cont cont cont cont cont cont cont "
      "foot foot foot foot foot foot foot foot foot foot";

}
.heder
{
  background-color:rgba(255, 255, 255, 0.8);
  display: inline;
  position:fixed;
  top:0vw;
  width: 100%;
  height:50px;
}
aside
{
  grid-area:side;
  color:#004996;
  padding: 10px;
}
aside table, th
{
    padding:10px;
}
aside a
{
    text-decoration: none;
}
.rmsmalllogo
{
  width:2.86vw;
   height:4vw;
   display:inline;
}
.champion13
{
  display:inline;
  width: 2.8vw;
  height: 3.733vw;
}
nav {
    grid-area: nav;
    color: white;
    position:fixed;
    top:0vw;
    right:0vw;
  }
.football
{
    grid-area: cont;
}
@media (max-width:750px) {
    body
    {
    grid-template-rows: 12vw 100vw 5vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "logo logo logo nav nav nav nav nav nav nav"
      " . . cont cont cont cont cont cont cont . "
      "side side side . . . . . .  ."
    }
    .aside
    {
        position: absolute;
        float: left;
    }
}

    
